<!DOCTYPE html>
<html>
<head>
</head>
<body>


  
    <form action="/insert" method="post">
        <div>
        <label>名前:
        <input type="text" name="name"></input>
        </label>
        </div>

        <div>
            <label>部署:
            <input type="text" name="departure"></input>
            </label>
        </div>

    <div style="display: flex;">
        <div>
        <input type="submit" value="create">
        </div>
    </form>

        <div style="margin-left: 5vw;">
    <form action="/top" method="get">
        <button>back to top</button>
    </form>
        </div>
    </div>

    </body>
</html>